@using CursachInf.Domain.Entities
@model IEnumerable<SpearmanKoeff>
@{

    Layout = null;
    int count = 0;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Расчёт коэффициента Спирмена</title>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
</head>
<body>
    <div id="Event">
        <table class="table" border="1" align="center">
            <thead>
                <tr>
                    <th align="center">
                        @Html.DisplayNameFor(model => model.X)
                    </th>

                    <th align="center">
                        @Html.DisplayNameFor(model => model.Y)
                    </th>

                    <th align="center">
                        @Html.DisplayNameFor(model => model.Nx)
                    </th>
                    <th align="center">
                        @Html.DisplayNameFor(model => model.Ny)
                    </th>
                    <th align="center">
                        @Html.DisplayNameFor(model => model.Sub)
                    </th>
                    <th align="center">
                        d<sup>2</sup>
                    </th>
                    <th align="center">
                        Σd<sup>2</sup>
                    </th>
                    <th align="center">
                        Коэффициент Спирмена,ρ
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.X)
                        </td>

                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Y)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Nx)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Ny)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Sub)
                        </td>

                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Squared)
                        </td>


                        @{ if (count == 0)
                            {

                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.SummaSqrD)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.KoefSpearman)
                                </td>

                                count++;
                            }
                        }
                    </tr>

                }
            </tbody>
        </table>
    </div>
</body>
</html>
@await Html.PartialAsync("ScriptsPartial")